{% extends 'cinema/base.html' %}

{% block opisanie %}
<h1>{{title}}</h1>
<p>Добро пожаловать в Школу техник Наруто! Рады видеть вас на нашем портале - здесь есть чем заняться как опытным поклонникам вселенной «Наруто», так и новичкам, недавно познакомившимся с серией!
    Техники - основа сайта: на персональной странице каждой узнайте о них всё и даже больше, а с продвинутой навигацией найти и изучить нужную технику не составит проблем! Смотрите новые эпизоды «Наруто», читайте мангу, новеллы, общайтесь на форуме или узнайте больше о мире ниндзя на нашей Нарутопедии. У нас имеется коллекция превосходных аниме на любой вкус.
    {% endblock %}

